@model Backend.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>
<hr />

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedDate" />


    <div class="form-group mb-2">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="BrandId" class="control-label">Brand</label>
        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands"></select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="DiscountPercent" class="control-label">Discount (%)</label>
        <input asp-for="DiscountPercent" class="form-control" />
        <span asp-validation-for="DiscountPercent" class="text-danger"></span>
    </div>


    <div class="form-group mb-2">
        <label asp-for="Gender" class="control-label">Gender</label>
        <select asp-for="Gender" class="form-control">
            <option value="">-- Choose --</option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group mb-2 form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
